.snipcart * {
	font-family: 'Plus Jakarta',sans-serif !important;
	text-rendering: geometricPrecision !important;
}
.snipcart-secured {
	font-family: 'Plus Jakarta',sans-serif !important;
	text-rendering: geometricPrecision !important;
}
#snipcart > div {
	z-index: 99999 !important;
} 
.snipcart-button-primary {
	filter: url(#colorRemap-buttonSC) saturate(0.89) contrast(1.11) brightness(94.5%);
	border-radius: 12px !important;
	transition: all 0.19s ease !important;
} 
.snipcart-button-primary:hover {
	filter: url(#colorRemap-buttonSC) saturate(1.00) contrast(1.00) brightness(100%) url('data:image/svg+xml,\<svg xmlns="http://www.w3.org/2000/svg">\<filter id="naturalShadow" x="0" y="0" width="0" height="0">\<feOffset in="SourceGraphic" dx="2" dy="2" />\<feGaussianBlur stdDeviation="4" result="blur" />\<feMerge>\<feMergeNode in="blur"/>\<feMergeNode in="SourceGraphic"/>\</feMerge>\</filter>\</svg>#naturalShadow');
	border-radius: 18px !important;
} 
.snipcart-button-link {
	color: #ff8041 !important;
	opacity: 75% !important;
	text-transform: uppercase;
	font-kerning: normal;
}
.snipcart-button-link:hover {
	color: #ff0d3b !important;
	opacity: 100% !important;
	text-transform: uppercase !important;
	font-kerning: normal;
}
.snipcart-button-secondary {
	filter: hue-rotate(190deg) saturate(1.5) brightness(95%) hue-rotate(345deg) contrast(110%) saturate(1.5) hue-rotate(5deg) brightness(102.5%) saturate(97.5%) !important;
}
.snipcart-modal__close-icon {
	color: #ff8041 !important;
}
.snipcart-input {
	filter: hue-rotate(190deg) saturate(1.15) !important;
}
.snipcart-textbox {
	filter: hue-rotate(190deg) saturate(1.15) !important;
}
.snipcart-discount-box.snipcart-input {
	filter: hue-rotate(190deg) saturate(1.15) !important;
}
.snipcart-form__label--checkbox {
	filter: hue-rotate(190deg) saturate(1.15) !important;
}
.snipcart-input--invalid {
	color: #9e2215 !important;
	color: var(--color-input-error,#9e2215) !important;
	border-color: #e85a4a !important;
	border-color: var(--borderColor-input-error,#e85a4a) !important;
	background-color: #fff !important;
	background-color: var(--bgColor-input-error,#fff) !important;
	filter: hue-rotate(0deg) saturate(1.01) !important;
}
fieldset[class|=snipcart] > div[class*="form"] > .snipcart-input.snipcart-input--invalid.snipcart-input--focus:not(label) {
	box-shadow: rgba(255, 0, 0, 0.25) 0px 5px 10px -3px !important;
}
.snipcart-discount-box.snipcart__font--secondary.snipcart-cart__discount-box {
	filter: url(#colorRemap-buttonSC) saturate(0.89) contrast(1.11) brightness(94.5%);
}  
.snipcart__box--badge-highlight {
	filter: hue-rotate(190deg) saturate(1.5) brightness(95%) hue-rotate(345deg) contrast(110%) saturate(1.5) hue-rotate(5deg) brightness(102.5%) saturate(97.5%) !important;
}
.snipcart-featured-payment-methods__title {
	cursor: url(https://uploads-ssl.webflow.com/604930b7b2bc7721fb1695c8/61d34e0ec5a52153e024014e_LBRTS-CUR.png) 26 26, default;
}
.snipcart__box--badge > svg.snipcart__icon {
	filter: url(#colorRemap-buttonSC) saturate(0.89) contrast(1.11) brightness(94.5%) !important;
}
div > ul[item-template*="shipping-rates"] > li.snipcart-shipping-rates-list-item--highlight {
	filter: url(#colorRemap-buttonSC) saturate(0.95) contrast(1.05) !important;
}
div > ul[item-template*="shipping-rates"] > li.snipcart-shipping-rates-list-item:not(li.snipcart-shipping-rates-list-item--highlight) {
	filter: hue-rotate(190deg) saturate(1.5) brightness(95%) hue-rotate(345deg) contrast(110%) saturate(1.5) hue-rotate(5deg) brightness(102.5%) saturate(97.5%) !important;
}
.snipcart-featured-payment-methods__link {
	visibility: hidden !important;
}
.snipcart-featured-payment-methods__link::after {
	content: "Secured by Lab Rats 🧪️";
	visibility: visible;
	display: flex;
	position: absolute;
	align-items: center;
	color: #44374d !important;
	text-decoration: none;
	pointer-events: none !important;
  }
.snipcart-loading-overlay__content > ul.snipcart-payment-methods-list > li[class*="snipcart"]:hover {
	outline: none;
	border-color: #ff8041;
	box-shadow: 0 0 10px #ff8041;
	cursor: pointer;
	image-rendering: -webkit-optimize-contrast;
  }
.snipcart-modal__header-summary > .snipcart-modal__header-summary-title > svg:not(span) {
	color: #ff8041 !important;
}
div.snipcart-cart-header__options > button[class*="snipcart-cart-header"]:not(svg, span) {
	filter: brightness(75%) contrast(1.5) saturate(0.5) contrast(1.5) url("#colorRemap-buttonSC") !important;
	background: white !important;
	padding: 4px !important;
	border-radius: 8px !important;
	opacity: 0.86 !important;
	overflow: hidden !important;
}
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;"><filter id="iconCartSC-GradMap"><feColorMatrix type="saturate" values="0"></feColorMatrix><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="table" tableValues="1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1"></feFuncR><feFuncG type="table" tableValues="1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0.99,0.98,0.97,0.95,0.94,0.93,0.92,0.91,0.9,0.89,0.88,0.86,0.85,0.84,0.83,0.82,0.81,0.8,0.78,0.77,0.76,0.75,0.74,0.73,0.72,0.71,0.69,0.68,0.67,0.66,0.65,0.64,0.63,0.62,0.6,0.59,0.58,0.57,0.56,0.55,0.54,0.52,0.51,0.5,0.5"></feFuncG><feFuncB type="table" tableValues="1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0.98,0.97,0.95,0.93,0.92,0.9,0.88,0.86,0.85,0.83,0.81,0.8,0.78,0.76,0.75,0.73,0.71,0.7,0.68,0.66,0.64,0.63,0.61,0.59,0.58,0.56,0.54,0.53,0.51,0.49,0.48,0.46,0.44,0.42,0.41,0.39,0.37,0.36,0.34,0.32,0.31,0.29,0.27,0.25,0.25"></feFuncB></feComponentTransfer></filter></svg>
header.snipcart-cart-header > div.snipcart-cart-header__options:not(button) {
	filter: url(#iconCartSC-GradMap) saturate(0.92) !important;
}
.snipcart-checkout-step__col > div[class*="-completed__step-icon"] > svg.snipcart__icon:not(div, span) {
	color: #ff8041 !important;
}
.snipcart-loading-component__content--loading > svg.snipcart-loading-component__icon:not(span) {
	filter: url(#colorRemap-buttonSC) saturate(0.89) contrast(1.11) brightness(94.5%) !important;
}
div[class|=snipcart][class*="loading"] > div.snipcart-loading-overlay__pending > svg:not(div) {
	filter: url(#colorRemap-buttonSC) saturate(0.89) contrast(1.11) brightness(94.5%) !important;
}
.snipcart-loading-component__content > svg.snipcart-loading-component__icon:not(span) {
	filter: url(#colorRemap-buttonSC) saturate(0.89) contrast(1.11) brightness(94.5%) !important;
  }
.snipcart-checkout-step__icon > svg.snipcart__icon > svg:not(div) {
	color: #ff8041 !important;
}
.snipcart-typeahead__input > .snipcart-form__select-wrapper > svg:not(div) {
	color: #ff8041 !important;
}
#snipcart > div > div > div > section > button > div > div.snipcart-base-button__icon > svg {
	color: #0bc7fd !important;
}
li.snipcart-payment-methods-list-item > button[class*="snipcart"] > .snipcart-payment-methods-list-item__arrow:not(span[class*="_label"]) > svg {
	color: #ff8041 !important;
}
.SCnoOverflow {
	overflow: hidden !important;
	scrollbar-color: rbga(255,255,255,0) rbga(255,255,255,0);
	scrollbar-width: none !important;
}
.SCnoOverflow::-webkit-scrollbar {
	width: 0px !important;
	display: none !important;
	background-color: transparent;
}
.SC-newAddedClass {
	filter: url(#SC-filterDarkBG) blur(6px);
	pointer-events: none !important;
}
div#SRMS_NAV_FIXED.SC-newAddedClass {
	position: fixed !important;
}
div#SRMS_NAV_RELATIVE.SC-newAddedClass {
	position: relative !important;
}
.SC-newAddedClass::after {
	content: '';
	position: inherit;
	pointer-events: none;
	z-index: 99995;
	-webkit-clip-path: inset(0px 0px 6px 0px);
	clip-path: inset(0px 0px 6px 0px);
}
.SCblurBG {
	position: relative;
	filter: contrast(0.90) brightness(1.15) blur(5.91px) saturate(0.90) contrast(0.90);
	pointer-events: none !important;
}
.SCblurBG::after {
	content: "";
	display: block;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: absolute;
	pointer-events: none;
	opacity: 0.50;
	background: rgba(68, 55, 77, 1);
}
*.snipcart-cart-summary > section[class|=snipcart] > div[class*=summary] > h1:not(button)[class*=title] {
	text-transform: capitalize !important;
	color: #44374d !important;
}
#snipcart div[class|=snipcart]>.snipcart-cart-header:not(div){position:-webkit-sticky;position:sticky;flex-flow:row;display:flex!important;flex-direction:row;flex-wrap:nowrap;align-content:center;align-items:center;white-space:nowrap!important;overflow:visible;width:79.1%!important;width:calc(((((80% - 20px) + 80%))/ (2)) + 2.736px)!important}
div[class|=snipcart]>[class*=cart-header]>button:not(div)[class*=close]:not(span,svg){outline:none!important;display:flex!important;flex-wrap:nowrap!important;overflow-clip-margin:18px;block-size:24px;writing-mode:horizontal-tb;flex:1!important;min-inline-size:max-content!important;white-space:nowrap!important}
div[class|=snipcart]>[class*=cart-header] div:not(button):not(.snipcart-cart-header__options){display:flex!important;flex:2!important;border-collapse:collapse!important;border-spacing:0!important;box-sizing:border-box!important;flex-wrap:nowrap!important;justify-content:center!important;flex-basis:fit-content!important}
div[class|=snipcart] header.snipcart-cart-header.snipcart-checkout__header.snipcart-layout__header--fixed>button.snipcart-cart-header__close-button.snipcart-modal__close{display:contents!important;block-size:18px!important;flex:auto!important}
*[class*="snipcart-cart"] > button[class|=snipcart]:not(span, svg)[class*="close"] > span[class|=snipcart]:not(button)[class*="close-title"]:not(svg) {
	color: #372D3F;
	font-weight: 400 !important;
	opacity: 89%;
	text-transform: capitalize !important;
	transition-timing-function: cubic-bezier(0.085, 0.005, 0.460, 0.950);
	transition: all 0.13s cubic-bezier(0.085, 0.005, 0.460, 0.950) !important;
}
*[class*="snipcart-cart"] > button[class|=snipcart]:not(span, svg)[class*="close"] > svg[class|=snipcart]:not(button)[class*="close-icon"]:not(span) {
	transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275); /* easeOutBack */
	transition: all calc(((0.13s * 2) + 0.13s) / 2) cubic-bezier(0.175, 0.885, 0.320, 1.275) !important;
	display: inline-block !important;
	text-overflow: clip;
	white-space: nowrap !important;
	transform: translate(0px, 0px);
}
*[class*="snipcart-cart"] > button[class|=snipcart]:not(span, svg)[class*="close"]:hover > span[class|=snipcart][class*="close-title"]:not(svg) {
	color: #FF8041;
	opacity: 96%;
}
*[class*="snipcart-cart"] > button[class|=snipcart]:not(span, svg)[class*="close"]:hover > svg[class|=snipcart][class*="close-icon"]:not(span) {
	transform: translateX(calc(((1vw * 0.754436264) - 100%) + -2.455637360px));
}
.snipcart-cart__footer div[class*="col"]:nth-child(2) div.snipcart-summary-fees:not(*[class$="reverse"]) > div.snipcart-summary-fees__total:not(snipcart__font--slim):not(span) {
	font-weight: bold !important;
	color: #06A761 !important;
	font-kerning: normal;
}
.snipcart-cart__footer div[class*="col"]:nth-child(2) div.snipcart-summary-fees:not(*[class$="reverse"]) > div.snipcart-summary-fees__item:not(.snipcart-summary-fees__total) {
	font-weight: 399 !important;
	opacity: 96% !important;
}
*[class*="snipcart-cart"] header[class|=snipcart] > div:not(button, ul) > [class*="title"]:where(h1, h2, h3, h4, h5, h6):not(*.snipcart-item-line__title) {
	font-family: 'Plus Jakarta',sans-serif !important;
	text-transform: capitalize !important;
	letter-spacing: 0.091px !important;
	text-rendering: geometricPrecision !important;
	color: #44374d !important;
	font-kerning: normal !important;
}
li.snipcart-cart-summary-item > span[class|=snipcart][class*="quantity"]:not(.snipcart-cart-summary-item__name, .snipcart-cart-summary-item__price) {
	font-style: italic !important;
	font-weight: 299;
}
li.snipcart-cart-summary-item > span[class|=snipcart][class*="name"]:not(.snipcart-cart-summary-item__quantity, .snipcart-cart-summary-item__price) {
	font-weight: 401 !important;
	opacity: 89% !important;
}
li.snipcart-cart-summary-item > span[class|=snipcart][class*="price"]:not(.snipcart-cart-summary-item__quantity, .snipcart-cart-summary-item__name) {
	font-weight: 400 !important;
}
li.snipcart-cart-summary-item > span[class|=snipcart][class*="price"]:not(.snipcart-cart-summary-item__quantity, .snipcart-cart-summary-item__name)::after {
	content: " USD" !important;
	font-weight: 399 !important;
	display: inline;
	font-variant-caps: all-small-caps;
	opacity: 96% !important;
}
div.snipcart-summary-fees > div.snipcart-summary-fees__item:not(div[class*="total"]):not(*.snipcart-summary-fees__total) {
	font-style: oblique;
	opacity: 96% !important;
}
div.snipcart-summary-fees div[class*="item"]:nth-child(n+1):nth-child(-n+3):not(*[class*="total"]) > span.snipcart-summary-fees__title:not(div.snipcart-summary-fees__total) {
	font-style: normal !important;
}
div.snipcart-summary-fees > div[class|=snipcart][class*="total"] > span[class|=snipcart-summary]:not(div) {
	font-weight: 501;
	color: #06A761 !important;
	opacity: 89%;
	font-kerning: none;
}
div.snipcart-summary-fees > div[class|=snipcart][class*="total"] > span[class|=snipcart-summary]:not(span[class*="amount"]) {
	font-weight: bolder !important;
	opacity: 99% !important;
	font-kerning: normal !important;
}
.snipcart-summary-fees > div[class|=snipcart][class*="total"] > span[class|=snipcart-summary][class*="amount"]:not(.snipcart-summary-fees__title)::after {
	content: " USD" !important;
	font-weight: 499 !important;
	display: inline;
	font-variant-caps: all-small-caps;
	margin-left: 0.49px !important;
}
#snipcart > div > div > div > section > ul > li > div > div > div.snipcart-item-line__content > div > div.snipcart-item-line__variants > div.snipcart-item-quantity.snipcart-item-line__quantity > div > div.snipcart-item-quantity__quantity.snipcart__font--std {
	filter: hue-rotate(190deg) saturate(1.15) !important;
}
h2.snipcart-item-line__title {
	color: #44374d !important;
	padding-left: 12px !important;
	padding-right: 12px !important;
}
img.snipcart-item-line__image {
	transform: scale(1.5) !important;
}
.snipcart-button-icon.is-danger {
	filter: contrast(0.750) saturate(1.500) brightness(1.125) saturate(1.125);
}
.snipcart-button-icon.is-danger:hover {
	filter: contrast(1.000) saturate(1.000) brightness(1.000) saturate(1.000);
}
.snipcart-typeahead__suggestions {
	filter: hue-rotate(190deg) saturate(1.15) !important;
}
.snipcart-typeahead__suggestion--powered-by-google {
	filter: hue-rotate(190deg) saturate(1.15) !important;
	opacity: 0% !important;
}
